p {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
  
  img{
    width:300px;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  body{
    margin: 0px;
    background-color: #FFC0CB;
  
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  a:visited { 
    text-decoration: line-through; 
    color: white; 
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .item{
    position: relative;
  }
  .item h5{
    position: absolute;
    left:35%;
    top: 35%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 25px;
    text-align: center;
  }
  .item:hover h5{
    opacity:1;
  }
  
  img{
    filter:blur(3px);
    opacity: 0.6;
    transition: 0.3s;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    transition: width 2s;
    margin-bottom: 5%;
  }
  
  .c4{
    filter:blur(0px);
    opacity: 1;
    transition: 0s;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    width: 300px;
    height: 300px;
    transition: width 0s;
    border-radius: 50%;
    border-width: 50px;
    border-color: black;
    overflow: hidden;
    width: 327px;
    height: 300px;
    margin: 20px auto;
    cursor: pointer;
    margin-top: 20%;
  }
  
  .c4:hover{
    filter:sepia(60%)
  }
  
  .item:hover img{
    opacity: 0.33;
    filter:blur(0px);
    width: 400px;
  
  }
  
  a{
    text-decoration:none
  }
  
  
  a:visited{
    color: #0000ff;
  }
  /*position is messy so commented*/
  /*.bodyimg{
  position: absolute;
  }*/
  .bodyimg p{
    color:#f7f2f2;
    font-size: 47px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:49.8%;
    transform: translate(-50%,-50%);
  }
  .bodyimg h3{
    color:#f7f2f2;
    font-family: fantasy;
    font-size: 30px;
    width: 1250px;
    position: absolute;
    top:55%;
    left:40.5%;
    transform: translate(-40%, -40%);
  }
  .grid{
    display: flex;
    flex-wrap: wrap;
    /*removed margit to make it look like the refference and make you think that i have just called whjr and requseted the project ;-))*/
    /*margin: 40px;*/
    font-family: sans-serif;
    margin-left: 2%;
  
  }
  .grid img{
    border: 2px solid black;
    border-radius: 50px;
  }
  .origami {
  
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 30px;
    width:310px;
    font-family: fantasy;
  
  }
  
  .origami:hover{
    transform: scale(1.2);
  }
  
  h1 {
    text-align: center;
    color:#f7f2f2;
    font-size: 60px;
    font-family: cursive;
    position: absolute;
    top:11.7%;
    left:50%;
    margin-bottom: 70%;
    font-weight: bold;
    color: #8B4513;
    transform: translate(-50%,-50%);
  }
  
  .image-container {
    display: inline-block;
    position: relative;
    top:70%;
  }
  
  .image-container img {
  
    transition: transform 0.3s;
    animation: spin 1s infinite linear;
    top:70%;
  
  }
  
  .c4:hover{
    animation-play-state: paused;
    top:70%;
  
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  h5{
    font-family: monospace;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: #8B4513;
  }